# ignore video & image file
*.mp4
*.zip
*.avi

# ignore folder
img_augmentation/save
img_augmentation/image/*
img_augmentation/video/*

!img_augmentation/image/.keep
!img_augmentation/video/.keep